{{#> adminLayoutManagement}}
{{#*inline "content"}}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Admin Manage Facebook Page</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Admin</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card card-primary card-outline">
                        <div class="card-body">
                            <h5 class="card-title">{{ viewData.author }}</h5>

                            <p class="card-text" id="pageIdText">
                                Page ID: {{ viewData.id }}  <br>
                                Description: {{ viewData.description }}
                            </p>
                            <a href="#" class="card-link">Web Page</a>
                            <a href="https://www.facebook.com/Testpage1201/" class="card-link">Facebook page</a>
                        </div>
                    </div><!-- /.card -->
                </div>
                <!-- /.col-md-6 -->
                <div class="col-lg-6">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="m-0">Featured</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Interact with Facebook Page APi</h6>
                            <p class="card-text">Using facebook api mainly as Educational purpose</p>
                            <a href="https://developers.facebook.com/docs/graph-api/reference/page/conversations/"
                                class="btn btn-primary">Reference link</a>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script>
    function copyToClipboard() {
        // Select the text within the <p> element
        var textToCopy = document.getElementById("pageIdText");
        var range = document.createRange();
        range.selectNode(textToCopy);
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(range);

        // Copy the selected text to the clipboard
        document.execCommand("copy");

        // Deselect the text
        window.getSelection().removeAllRanges();

        // Optionally, provide feedback to the user (e.g., change button text)
        document.getElementById("copyButton").innerText = "Copied!";
    }
</script>
{{/inline}}
{{/adminLayoutManagement}}